ion-header {
    background-color: #f4f4f9; 
    ion-toolbar {
      --background: #e3d4f8; 
    }
    ion-title {
      color: rgb(0, 0, 0); 
    }
  }
  
  ion-content {
    --background: #f0f0f5; 
  }